[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
max_line_length = 120

[*.json]
indent_size = 2

[*.yaml]
indent_size = 2

[*.ipynb]
insert_final_newline = false

[*.{kt,kts}]
ktlint_code_style = ktlint_official
ktlint_standard = enabled
ktlint_experimental = enabled
ktlint_standard_filename = disabled
ktlint_experimental_function-signature = disabled
