# Default ignored files
.idea
!.idea/runConfigurations
!.idea/runConfigurations/*.xml
!.idea/externalDependencies.xml
!.idea/vcs.xml
.gradle
.kotlin
build
.ipynb_checkpoints
local.properties

# macOS
.DS_Store
/examples/notebooks/quickstart/jb_repos.xlsx
