table.dataframe .null {
    color: #b3b3cc;
}
table.dataframe .structural {
    color: #737373;
    font-weight: bold;
}
table.dataframe .numbers {
    color: black;
}
table.dataframe .dataFrameCaption {
    font-weight: bold;
}
table.dataframe td:hover > .formatted .structural {
    color: black;
}
table.dataframe td:hover > .formatted .null {
    color: black;
}
