table.dataframe .formatNull {
    color: #b3b3cc;
}
table.dataframe .formatCurlyBrackets {
    color: #737373;
    font-weight: bold;
}
table.dataframe .formatSquareBrackets {
    color: #737373;
    font-weight: bold;
}
table.dataframe .formatComma {
    color: #737373;
    font-weight: bold;
}
table.dataframe .formatNumbers {
    color: black;
}
table.dataframe .formatDataframes {
    font-weight: bold;
}
table.dataframe .formatColumnNames {
    color: #737373;
    font-weight: bold;
}
table.dataframe td:hover > .formatted .formatCurlyBrackets {
    color: black;
}
table.dataframe td:hover > .formatted .formatSquareBrackets {
    color: black;
}
table.dataframe td:hover > .formatted .formatColumnNames {
    color: black;
}
table.dataframe td:hover > .formatted .formatNull {
    color: black;
}
table.dataframe td:hover > .formatted .formatComma {
    color: black;
}