name: Build docs

on:
  workflow_dispatch:

permissions:
  id-token: write
  pages: write

env:
  PRODUCT: StardustDocs/d
  ARTIFACT: webHelpD2-all.zip
  ALGOLIA_ARTIFACT: algolia-indexes-D.zip
  ALGOLIA_APP_NAME: JWPLKSKZVF
  ALGOLIA_INDEX_NAME: prod_DATAFRAME_HELP
  ALGOLIA_KEY: ${{ secrets.ALGOLIA_KEY }}
  CONFIG_JSON_PRODUCT: Dataframe
  CONFIG_JSON_VERSION: 0.9

jobs:
  build-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Build Writerside docs using Docker
        uses: JetBrains/writerside-github-action@v3
      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: artifact
          path: artifacts/${{ env.ARTIFACT }}
          retention-days: 7
      - name: Upload algolia-indexes
        uses: actions/upload-artifact@v3
        with:
          name: algolia-indexes
          path: artifacts/${{ env.ALGOLIA_ARTIFACT }}
          retention-days: 7

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: build-job
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: artifact
      - name: Unzip artifact
        uses: montudor/action-zip@v1
        with:
          args: unzip -qq ${{ env.ARTIFACT }} -d dir
      - name: Setup Pages
        uses: actions/configure-pages@v2
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: dir
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1

  publish-indexes:
    # Requires the build-job results
    needs: build-job
    runs-on: ubuntu-latest
    container:
        image: registry.jetbrains.team/p/writerside/builder/algolia-publisher:2.0.32-2

    steps:
        - uses: actions/checkout@v3
        - uses: actions/download-artifact@v3
          with:
              name: algolia-indexes
        - uses: montudor/action-zip@v1
          with:
              args: unzip -qq algolia-indexes-D.zip -d algolia-indexes
        - run: |
              env "algolia-key=${{env.ALGOLIA_KEY}}" java -jar /opt/builder/help-publication-agent.jar \
              update-index \
              --application-name ${{env.ALGOLIA_APP_NAME}} \
              --index-name ${{env.ALGOLIA_INDEX_NAME}} \
              --product ${{env.CONFIG_JSON_PRODUCT}} \
              --version ${{env.CONFIG_JSON_VERSION}} \
              --index-directory algolia-indexes/ \
              2>&1 | tee algolia-update-index-log.txt
